<ion-view view-title="">
    <ion-nav-buttons side="right">
        <button class="button button-clear button-calm icon ion-ios-arrow-down" ng-click="">
         </button>
        <button class="button button-clear button-calm icon ion-ios-arrow-up" ng-click="">
         </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="mail-header">
            <p> {{"&lt abc &gt"}} </p>
            <p>收件人 :{{"admin"}}</p>
        </div>
        <div class="mail-title">
            <div class="status" style="float:right">
                <span class="iconsolo-flag"></span>
            </div>
            <strong>
                {{ "test@test.com has shared a calendar with you" }}
            </strong>
            <strong class="small">
               {{ "2015年7月14日 下午19:18 星期二" }} 
            </strong>           
        </div>
        <div class="mail-content"> 
            kdfjaklsjfasklfj klasjfklasjdfaklsjfl jksdlf jslajflsj dfsldfjsl fjkl asdjflsj fkla sdfjaljkkl
        </div>
    </ion-content>
</ion-view>