                <div class="content-container">
                    <div class="status">
                        <span class="iconsolo-flag"></span> 
                    </div>
                    <div class="content">
                        <div class="mailTime">
                           <span>{{ mail.time }}</span> 
                        </div>
                        <div>
                            {{ mail.sender }}   
                            <h2 style="display:inline-block;margin-left:15px">{{ mail.title }}</h2>             
                        </div>
                        <div >
                            {{ mail.content }}
                        </div>
                    </div>